{% extends 'base.html.twig' %}

{% block title %}Index produktów{% endblock %}

{% block body %}
    <h1>Indeks produktów</h1>

    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Faktura</th>
                <th>Pozycja</th>
                <th>Nazwa</th>
                <th>Id produktu</th>
                <th>Ilość</th>
                <th>Jednostka</th>
                <th>Vat</th>
                <th>GrossValue</th>
                <th>NetValue</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice_item in invoice_items %}
            <tr>
                <td><a href="{{ url('app_invoices_invoice_items_show', {id: invoice_item.id}) }}">{{ invoice_item.id }}</a></td>
                <td><a href="{{ url('app_invoices_invoice_show', {id: invoice_item.invoice}) }}">{{ invoice_item.invoiceId }}</a></td>
                <td>{{ invoice_item.position }}</td>
                <td>{{ invoice_item.name }}</td>
                <td>{{ invoice_item.productId }}</td>
                <td>{{ invoice_item.amount }}</td>
                <td>{{ invoice_item.unit }}</td>
                <td>{{ invoice_item.vat }}</td>
                <td>{{ invoice_item.grossValue }}</td>
                <td>{{ invoice_item.netValue }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_invoices_invoice_items_new') }}">Create new</a>
{% endblock %}
