{% extends 'base.html.twig' %}

{% block title %}InvoiceItems index{% endblock %}

{% block body %}
    <h1>InvoiceItems index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>InvoiceId</th>
                <th>Position</th>
                <th>Name</th>
                <th>ProductCode</th>
                <th>ProductId</th>
                <th>Pkwiu</th>
                <th>Ean</th>
                <th>Amount</th>
                <th>Unit</th>
                <th>Vat</th>
                <th>GrossValue</th>
                <th>NetValue</th>
                <th>Gross</th>
                <th>Net</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice_item in invoice_items %}
            <tr>
                <td>{{ invoice_item.id }}</td>
                <td>{{ invoice_item.invoiceId }}</td>
                <td>{{ invoice_item.position }}</td>
                <td>{{ invoice_item.name }}</td>
                <td>{{ invoice_item.productCode }}</td>
                <td>{{ invoice_item.productId }}</td>
                <td>{{ invoice_item.pkwiu }}</td>
                <td>{{ invoice_item.ean }}</td>
                <td>{{ invoice_item.amount }}</td>
                <td>{{ invoice_item.unit }}</td>
                <td>{{ invoice_item.vat }}</td>
                <td>{{ invoice_item.grossValue }}</td>
                <td>{{ invoice_item.netValue }}</td>
                <td>{{ invoice_item.gross }}</td>
                <td>{{ invoice_item.net }}</td>
                <td>
                    <a href="{{ path('app_invoices_invoice_items_show', {'id': invoice_item.id}) }}">show</a>
                    <a href="{{ path('app_invoices_invoice_items_edit', {'id': invoice_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_invoices_invoice_items_new') }}">Create new</a>
{% endblock %}
