{% extends 'base.html.twig' %}

{% block title %}InvoiceItems{% endblock %}

{% block body %}
    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
        <caption>Produkt [{{ invoice_item.id }}] (pozycja {{ invoice_item.position }} z dokumentu {{ invoice_item.invoiceId }})</caption>
        <tbody>
        <tr>
            <th>Id</th>
            <th colspan="2">Nazwa</th>
            <th>Ilość</th>
            <th>Jednostka</th>
        </tr>
        <tr>
            <td>{{ invoice_item.id }}</td>
            <td colspan="2">"{{ invoice_item.name }}"</td>
            <td>{{ invoice_item.amount }}</td>
            <td>{{ invoice_item.unit }}</td>
        </tr>
        <tr>
            <th>Id produktu</th>
            <th>Sku</th>
            <th>Ean</th>
            <th colspan="2">Pkwiu</th>
        </tr>
        <tr>
            <td>{{ invoice_item.productId }}</td>
            <td>{{ invoice_item.productCode }}</td>
            <td>{{ invoice_item.ean }}</td>
            <td colspan="2">{{ invoice_item.pkwiu }}</td>
        </tr>
        <tr>
            <th>Vat</th>
            <th>Cena netto</th>
            <th>Cena brutto</th>
            <th>Wartość netto</th>
            <th>Wartość brutto</th>
        </tr>
        <tr>
            <td>{{ invoice_item.vat }}</td>
            <td>{{ invoice_item.net }}</td>
            <td>{{ invoice_item.gross }}</td>
            <td>{{ invoice_item.netValue }}</td>
            <td>{{ invoice_item.grossValue }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_invoices_invoice_items_index') }}">back to list</a>

    <a href="{{ path('app_invoices_invoice_items_edit', {'id': invoice_item.id}) }}">edit</a>

{% endblock %}
