{#<div class="invoice-lines" id="invoice-lines">#}
    {% for invoice in invoices %}
        <div class="accordion-head" data-url="{{ path('app_invoices_invoice_full_details_filtered', {'id': invoice.id}) }}">
            <h4>
                ({{ invoice.externalId }})
                {{ invoice.issueDate ? invoice.issueDate|date('Y-m-d') : '' }}
                NIP: {{ invoice.issuerName }}
                {{ invoice.grossValue }}
                <button class="btn btn-success" type="button" id="get_pdf"
                        data-url="{{ path('app_invoices_invoice_pdf', {'id': invoice.id}) }}">Pobierz PDF</button>
            </h4>
        </div>
        <div></div>
    {% endfor %}
{#</div>#}
<div class="loader">
    <div></div>
    <div></div>
    <div></div>
</div>

