{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Lista dokumentów w systemie zewnętrznym:</h1>

{#    {% include 'invoices/invoice/basic_invoice_line.html.twig' %}#}

    <div class="accordion-ajax" data-url="/invoices/1/items">
        {% for invoice in invoices %}
            <div class="accordion-head" data-url="{{ path('app_invoices_invoice_items_filtered', {'id': invoice.id}) }}">
                <h3>
                    {{ invoice.number }}
                    ({{ invoice.externalId }})
                    {{ invoice.issueDate ? invoice.issueDate|date('Y-m-d') : '' }}
                     / {{ invoice.saleDate ? invoice.saleDate|date('Y-m-d') : '' }}
                    NIP: {{ invoice.receiverName }}
                    {{ invoice.currency }}
                    {{ invoice.netValue }} /
                    {{ invoice.grossValue }} /
                    {{ invoice.vat }}
                    <button class="btn btn-success" type="button" id="get_pdf"
                            data-url="{{ path('app_invoices_invoice_pdf', {'id': invoice.id}) }}">Pobierz PDF</button>
                </h3>
            </div>
            <div></div>
        {% endfor %}
    </div>

{% endblock %}
