{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <h1>Invoice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice.id }}</td>
            </tr>
            <tr>
                <th>ExternalId</th>
                <td>{{ invoice.externalId }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ invoice.type }}</td>
            </tr>
            <tr>
                <th>Subtype</th>
                <td>{{ invoice.subtype }}</td>
            </tr>
            <tr>
                <th>CountingSumType</th>
                <td>{{ invoice.countingSumType }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ invoice.number }}</td>
            </tr>
            <tr>
                <th>IssueDate</th>
                <td>{{ invoice.issueDate ? invoice.issueDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SaleDate</th>
                <td>{{ invoice.saleDate ? invoice.saleDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DueDate</th>
                <td>{{ invoice.dueDate ? invoice.dueDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PaymentDate</th>
                <td>{{ invoice.paymentDate ? invoice.paymentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PaymentAmount</th>
                <td>{{ invoice.paymentAmount }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ invoice.currency }}</td>
            </tr>
            <tr>
                <th>Exchange</th>
                <td>{{ invoice.exchange }}</td>
            </tr>
            <tr>
                <th>PaymentType</th>
                <td>{{ invoice.paymentType }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ invoice.language }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ invoice.template }}</td>
            </tr>
            <tr>
                <th>IssuerName</th>
                <td>{{ invoice.issuerName }}</td>
            </tr>
            <tr>
                <th>ReceiverName</th>
                <td>{{ invoice.receiverName }}</td>
            </tr>
            <tr>
                <th>OrderNumber</th>
                <td>{{ invoice.orderNumber }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ invoice.department }}</td>
            </tr>
            <tr>
                <th>SendMail</th>
                <td>{{ invoice.sendMail }}</td>
            </tr>
            <tr>
                <th>Storehouse</th>
                <td>{{ invoice.storehouse }}</td>
            </tr>
            <tr>
                <th>AutoDocCreate</th>
                <td>{{ invoice.autoDocCreate }}</td>
            </tr>
            <tr>
                <th>Remarks</th>
                <td>{{ invoice.remarks }}</td>
            </tr>
            <tr>
                <th>AdditionalRemarks</th>
                <td>{{ invoice.additionalRemarks }}</td>
            </tr>
            <tr>
                <th>NetValue</th>
                <td>{{ invoice.netValue }}</td>
            </tr>
            <tr>
                <th>GrossValue</th>
                <td>{{ invoice.grossValue }}</td>
            </tr>
            <tr>
                <th>Vat</th>
                <td>{{ invoice.vat }}</td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" id="PATH_items_list" value="{{ path('app_invoices_invoice_items_filtered', {'id': invoice.id}) }}"/>

    <div class="form-buttons text-center">
        <button class="btn btn-success" type="button" id="get_pdf" data-url="{{ path('app_invoices_invoice_pdf', {'id': invoice.id}) }}">Pobierz PDF</button>
    </div>

    <a href="{{ path('app_invoices_invoice_index') }}">back to list</a>

{% endblock %}
