{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
        <caption>Dokument [{{ invoice.id }}]</caption>
        <tbody>
        <tr>
            <th>id</th>
            <th>numer</th>
            <th>numer zewnętrzny</th>
            <th>typ dokumentu</th>
            <th>podtyp</th>
            <th>CountingSumType ???</th>
        </tr>
        <tr>
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.externalId }}</td>
            <td>{{ invoice.type }}</td>
            <td>{{ invoice.subtype }}</td>
            <td>{{ invoice.countingSumType }}</td>
        </tr>
        <tr>
            <th>data wystawienia</th>
            <th>data sprzedaży</th>
            <th>termin płatności</th>
            <th>data opłacenia</th>
            <th>kwota opłacona</th>
            <th>sposób płatności</th>
        </tr>
        <tr>
            <td>{{ invoice.issueDate ? invoice.issueDate|date('Y-m-d') : '' }}</td>
            <td>{{ invoice.saleDate ? invoice.saleDate|date('Y-m-d') : '' }}</td>
            <td>{{ invoice.dueDate ? invoice.dueDate|date('Y-m-d') : '' }}</td>
            <td>{{ invoice.paymentDate ? invoice.paymentDate|date('Y-m-d') : '' }}</td>
            <td>{{ invoice.paymentAmount }}</td>
            <td>{{ invoice.paymentType }}</td>
        </tr>
        <tr>
            <th>vat</th>
            <th>wartość netto</th>
            <th>wartość brutto</th>
            <th colspan="3"></th>
        </tr>
        <tr>
            <td>{{ invoice.vat }}</td>
            <td>{{ invoice.netValue }}</td>
            <td>{{ invoice.grossValue }}</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>waluta</th>
            <th>kurs</th>
            <th colspan="2">język</th>
            <th colspan="2">szablon</th>
        </tr>
        <tr>
            <td>{{ invoice.currency }}</td>
            <td>{{ invoice.exchange }}</td>
            <td colspan="2">{{ invoice.language }}</td>
            <td colspan="2">{{ invoice.template }}</td>
        </tr>
        <tr>
            <th colspan="2">wystawca</th>
            <th colspan="2">kontrahent</th>
            <th colspan="2">mail</th>
        </tr>
        <tr>
            <td colspan="2">{{ invoice.issuerName }}</td>
            <td colspan="2">{{ invoice.receiverName }}</td>
            <td colspan="2">{{ invoice.sendMail }}</td>
        </tr>
        <tr>
            <th colspan="2">nr zamówienia</th>
            <th>departament</th>
            <th>magazyn</th>
            <th colspan="2">autoDocCreate ???</th>
        </tr>
        <tr>
            <td colspan="2">{{ invoice.orderNumber }}</td>
            <td>{{ invoice.department }}</td>
            <td>{{ invoice.storehouse }}</td>
            <td colspan="2">{{ invoice.autoDocCreate }}</td>
        </tr>
        <tr>
            <th colspan="3">uwagi</th>
            <th colspan="3">dodatkowe uwagi</th>
        </tr>
        <tr>
            <td colspan="3">{{ invoice.remarks }}</td>
            <td colspan="3">{{ invoice.additionalRemarks }}</td>
        </tr>
        </tbody>
    </table>
    <input type="hidden" id="PATH_items_list" value="{{ path('app_invoices_invoice_items_filtered', {'id': invoice.id}) }}"/>

    <div class="form-buttons text-center">
        <button class="btn btn-success" type="button" id="get_pdf" data-url="{{ path('app_invoices_invoice_pdf', {'id': invoice.id}) }}">Pobierz PDF</button>
    </div>

    <a href="{{ path('app_invoices_invoice_index') }}">back to list</a>

{% endblock %}
